<div class="container-fluid">

  <div class="row m-3 p-2 firstDiv">
    <div class="col-12 text-white text-center">
      <h3>Happy Tree Friends Blog</h3>
    </div>
  </div>

  <div>
  <div class="row g-0 p-5">
    <div class="col-2" >
      <img src = "http://placehold.it/240">
    </div>
    <div class="col  bg-white p-3">
      <p>Lorem, ipsum.</p>
      <h4 class="text-success">Lorem ipsum dolor sit amet.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Enim magni aliquam laboriosam error iusto consectetur in, blanditiis delectus
        voluptatum autem.
      </p>
        <i class="fa-solid fa-angles-right offset-11"></i>
    </div>
    <div class="col-2" >
      <img src = "http://placehold.it/240">
    </div>
    <div class="col bg-white p-3">
      <p>Lorem, ipsum.</p>
      <h4 class="text-success">Lorem ipsum dolor sit amet.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Enim magni aliquam laboriosam error iusto consectetur in, blanditiis delectus
        voluptatum autem.
      </p>
      <i class="fa-solid fa-angles-right offset-11"></i>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 offset-4">
      <img src = "http://placehold.it/370">
    </div>
    <div class="col-4 bg-white align-content-center p-5">
      <p>Lorem, ipsum.</p>
      <h4 class="text-success">Lorem ipsum dolor sit amet.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Enim magni aliquam laboriosam error iusto consectetur in, blanditiis delectus
        voluptatum autem.
      </p>
      <i class="fa-solid fa-angles-right offset-11 mt-5"></i>
    </div>
  </div>


  <div class="row g-0 p-5 flex-row-reverse">
    <div class="col-2">
      <img src = "http://placehold.it/240">
    </div>
    <div class="col  bg-white p-3">
      <p>Lorem, ipsum.</p>
      <h4 class="text-success">Lorem ipsum dolor sit amet.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Enim magni aliquam laboriosam error iusto consectetur in, blanditiis delectus
        voluptatum autem.
      </p>
        <i class="fa-solid fa-angles-right offset-11"></i>
    </div>
    <div class="col-2 mx-auto">
      <img src = "http://placehold.it/240">
    </div>
    <div class="col bg-white p-3">
      <p>Lorem, ipsum.</p>
      <h4 class="text-success">Lorem ipsum dolor sit amet.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Enim magni aliquam laboriosam error iusto consectetur in, blanditiis delectus
        voluptatum autem.
      </p>
      <i class="fa-solid fa-angles-right offset-11"></i>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 offset-4">
      <img src = "http://placehold.it/370">
    </div>
    <div class="col-4 bg-white align-content-center p-5">
      <p>Lorem, ipsum.</p>
      <h4 class="text-success">Lorem ipsum dolor sit amet.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Enim magni aliquam laboriosam error iusto consectetur in, blanditiis delectus
        voluptatum autem.
      </p>
      <i class="fa-solid fa-angles-right offset-11 mt-5"></i>
    </div>
  </div>

  <div class="row g-0 p-5 flex-row-reverse">
    <div class="col-2">
      <img src = "http://placehold.it/240">
    </div>
    <div class="col  bg-white p-3">
      <p>Lorem, ipsum.</p>
      <h4 class="text-success">Lorem ipsum dolor sit amet.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Enim magni aliquam laboriosam error iusto consectetur in, blanditiis delectus
        voluptatum autem.
      </p>
        <i class="fa-solid fa-angles-right offset-11"></i>
    </div>
    <div class="col-2 mx-auto">
      <img src = "http://placehold.it/240">
    </div>
    <div class="col bg-white p-3">
      <p>Lorem, ipsum.</p>
      <h4 class="text-success">Lorem ipsum dolor sit amet.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Enim magni aliquam laboriosam error iusto consectetur in, blanditiis delectus
        voluptatum autem.
      </p>
      <i class="fa-solid fa-angles-right offset-11"></i>
    </div>
  </div>

  <div class="row m-3 p-2 firstDiv">
    <div class="col-12 text-white text-center">
      <h3>Happy Tree Friends Blog</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-8 mx-auto bg-white">
      <div class="row ">
        <div class="col-4">
          <img src = "http://placehold.it/450">
        </div>
        <div class="col-4 bg-white align-content-center p-5 offset-3">
          <p>Date</p>
          <p>Lorem, ipsum.</p>
          <h4 class="text-success">Lorem ipsum dolor sit amet.</h4>
        </div>
      </div>
      <div class=" row p-5">
        <div class="col-7 mx-auto">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Suscipit laborum ea voluptas sint, a dolorem voluptatum itaque nobis maxime,
            dignissimos fuga accusamus commodi asperiores quae nulla nostrum esse natus libero
            aspernatur cumque similique error officiis modi laudantium. Sint recusandae fugiat
            odio atque ea modi doloribus sequi repudiandae aperiam accusamus! Alias id, ratione
            explicabo eos eaque quo, incidunt optio placeat quidem quasi quibusdam, atque aspernatur
            maiores est excepturi soluta voluptatem. Fuga veritatis earum ab necessitatibus quasi
            animi repudiandae omnis ex, quae quia quo? Fugiat cupiditate dicta perferendis, dolor atque
            possimus alias! Minus nihil deserunt repellat reiciendis! Aut tempore modi nesciunt doloribus!
          </p>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Suscipit laborum ea voluptas sint, a dolorem voluptatum itaque nobis maxime,
            dignissimos fuga accusamus commodi asperiores quae nulla nostrum esse natus libero
            aspernatur cumque similique error officiis modi laudantium. Sint recusandae fugiat
            odio atque ea modi doloribus sequi repudiandae aperiam accusamus! Alias id, ratione
            explicabo eos eaque quo, incidunt optio placeat quidem quasi quibusdam, atque aspernatur
            maiores est excepturi soluta voluptatem. Fuga veritatis earum ab necessitatibus quasi
            animi repudiandae omnis ex, quae quia quo? Fugiat cupiditate dicta perferendis, dolor atque
            possimus alias! Minus nihil deserunt repellat reiciendis! Aut tempore modi nesciunt doloribus!
          </p>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Suscipit laborum ea voluptas sint, a dolorem voluptatum itaque nobis maxime,
            dignissimos fuga accusamus commodi asperiores quae nulla nostrum esse natus libero
            aspernatur cumque similique error officiis modi laudantium. Sint recusandae fugiat
            odio atque ea modi doloribus sequi repudiandae aperiam accusamus! Alias id, ratione
            explicabo eos eaque quo, incidunt optio placeat quidem quasi quibusdam, atque aspernatur
            maiores est excepturi soluta voluptatem. Fuga veritatis earum ab necessitatibus quasi
            animi repudiandae omnis ex, quae quia quo? Fugiat cupiditate dicta perferendis, dolor atque
            possimus alias! Minus nihil deserunt repellat reiciendis! Aut tempore modi nesciunt doloribus!
          </p>
        </div>

      </div>

    </div>

  </div>
</div>
  <router-outlet></router-outlet>
</div>
